.movies.individual .banner_{
background: var(
    --shy
    );
    height: 40vh;
    width: 100%;
    /* border-bottom: 1px solid var(
        --color
    ); */
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    justify-self: center;
    align-items: center;
    text-align: center;
}

.movies.individual .banner_ input{
    width: 100%;
    text-align: center;
    padding: 10px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: 5px solid var(
        --color
    );

    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.13), inset 0px 0px 10px 0px rgba(0, 0, 0, 0.13);
    font-size: small;
    outline:none;
    transition: .3s ease-in-out;
}
.movies.individual .search:hover input::placeholder{
    color: var(
        --color
    );
}
.movies.individual .search:hover input{
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: var(
        --background
    );
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    color: var(
        --color
    );
    border: 5px solid var(
        --background
    );

    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.13), inset 0px 0px 10px 0px rgba(0, 0, 0, 0.13);
    font-size: small;
    outline:none;
}
.movies.individual .banner_ button{
    width: 200px;
    outline:none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    text-align: center;
    padding: 10px;
    border: none;
    background-color: var(
        --background
    );
    text-transform: uppercase;
    color: var(
        --color
        
    );
    font-weight: bold;
    font-size: small;
    transition: .3s ease-in-out;
}
.movies.individual .search:hover button{
    width: 200px;
    outline:none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    text-align: center;
    padding: 10px;
    border: none;
    background-color: var(
        --dark
    );
    text-transform: uppercase;
    color: var(
        --color
        
    );
    font-weight: bold;
    font-size: small;
}
.movies.individual .search{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 60%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -60%);
}
.poster{
    border: 10px solid var(--background);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.144);
    border-radius: 10px;
}
.poster img{
    position: relative;
    width: 100%;
}
.mrg-neg-150{
    margin-top: -150px;
}
.text_left{
    text-align: end;
}