.loader{
    margin: 10px;
    width: 100%;
}
.loader .loader_tyre{
    width: 45px;
    margin-left: calc(100% - 52%);
    height: 45px;
    border-radius: 50px;
    border: 5px solid var(
        --color
    );
    border-bottom-color: var(--dark);
    border-top-color: var(--shy);
    animation: rotate 1.4s linear infinite;
    border-left-style: dotted;
}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
@-webkit-keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
@-moz-keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}