@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Sigmar&display=swap');
:root{
    --background:#FFC847;
    --color:#FFFFFF;
    --dark:#000000;
    --grey:rgb(109, 109, 109);
    --shy2:#008371;
    --shy:#00443B;
    --header-fonts:'Sigmar', cursive;
    --decoration:'Pacifico', cursive;
}
body,#root,html{
    background-color: var(
        --background
    );
}
.mrg-neg-100{
    margin-top: -100px;
}
html{
    scroll-snap-type: both mandatory;
    scroll-behavior: smooth;
    transition: 3s ease-in-out;
}
body{
    overflow-x: hidden;
}
.black{
    color: var(
        --dark
    );
}
.white{
    color: var(
        --color
    );
}
.title{
    text-align: center;
}
::selection{
    color: var(
        --background      
    );
    background-color: var(
        --shy
    );
}
.mrg-100{
    margin-top: 100px;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: var(--dark);
}